<!DOCTYPE html>
<!--
    https://vuejs.org/v2/guide/
    Introduction
        Getting Started
        Declarative Rendering
        Conditionals and Loops
        Handling User Input
        Composing with Components -- TODO
-->
<head>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <p><span>{{ message }}</span></p>        
        <input v-model="message">
        <button v-on:click="reverseMessage">Reverse above Message</button>
        <p><span v-bind:title="info">Hover your mouse over me for a few seconds to see my dynamically bound
                title!</span></p>
        <p><span v-if="seen">Now you see me</span></p>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <div id="todo-list-example">
            <form v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Add a todo</label>
                <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
                <button>Add</button>
            </form>
            <ul>
                <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.text" v-on:remove="todos.splice(index,1)"></li>
            </ul>
        </div>
        <a href="./spa1.html">Trying SPA</a>
    </div>
    <div id="app2">
        <p><span>{{ message }}</span></p>
    </div>
    <script>
        Vue.component('todo-item', {
            template: '\
                <li>\
                    {{ title }}\
                    <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
            ',
            props: ['title']
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                info: 'created at ' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    { id: 1, text: 'Learn JavaScript' },
                    { id: 2, text: 'Learn Vue' },
                    { id: 3, text: 'Build something awesome' }
                ],
                nextTodoId: 4,
                newTodoText: ''
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        text: this.newTodoText
                    })
                    this.newTodoText = ''
                },
                reverseMessage: function () {
                    this.message = this.message.split(' ').reverse().join(' ')
                }
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'Hello from second Vue instance'
            }
        })
    </script>
    <style>
        button {
            background: black;
            color: white
        }
    </style>
</body>
