<!DOCTYPE html>
<!--
    https://vuejs.org/v2/guide/
    Introduction
        Getting Started
        Declarative Rendering
        Conditionals and Loops
        Handling User Input
        Composing with Components -- TODO
-->
<head>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app"> 
        <label for="ipport">ip:port</label>
        <input v-model="message" id="ipport">
        <div id="todo-list-example">
            <form v-on:submit.prevent="addNewIpport">
                <label for="new-ipport">Add a ip:port</label>
                <input v-model="newTodoText" id="new-ipport" placeholder="192.168.50.1:8443">
                <button>Add</button>
            </form>
            <ul>
                <li is="ipport-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.text" v-on:remove="todos.splice(index,1)"></li>
            </ul>
        </div>
    </div>
    <script>
        Vue.component('ipport-item', {
            template: '\
                <li>\
                    {{ testResult }}\
                </li>\
            ',
            props: ['testResult']
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                info: 'created at ' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    { id: 1, text: 'Learn JavaScript' },
                    { id: 2, text: 'Learn Vue' },
                    { id: 3, text: 'Build something awesome' }
                ],
                nextTodoId: 4,
                newTodoText: ''
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        text: this.newTodoText
                    })
                    this.newTodoText = ''
                },
                reverseMessage: function () {
                    this.message = this.message.split(' ').reverse().join(' ')
                }
            }
        })
    </script>
    <style>
        button {
            background: black;
            color: white
        }
        label {
            background: black;
            color: white;
        }
    </style>
</body>
